
.form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 800px;
    color: #882c66;
  }


.text-center {
    color: #882c66;
}

.btn-toolbar {
    max-width: 200px;
    margin: 50px auto;
}

#submitplace {
    background-color: #882c66;
    color: #e4b370;
}
.form-label {
    color: #e4b370;
}