.form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
    color: #46082f;
  }
html {
    background-color:  #ebdfce;
    
    /* background-color: linear-gradient(53deg, rgba(148,42,100,0.3883928571428571) 0%, rgba(255,161,0,0.40800070028011204) 61%); */
}
.userExistsHide, .registerInfoHide {
    display: none;
  }

  .userExistsShow {
    display: block;
    color:red;
  }

  .registerInfoShow {
    display: block;
    color:green;
  }

  #register, #login {
    background-color: #46082f;
    color: #e4b370;
  }

  .text-muted {
    color: #46082f;
  }