<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>User</title>
     <link rel="stylesheet" href="jquery-ui-1.12.1.custom/jquery-ui.min.css">
    <link rel="stylesheet" href="/jquery-ui-1.12.1.custom/jquery-ui.theme.min.css">
    <style>
        .button {
            background-color: #882c66;
            color: #e4b370;
        }

        h1 {
            color: #882c66;
        }
        .text-center {
            color: #882c66;
        }
        .form-label {
            color: #e4b370;
        }
        {{!-- .widget {
            text-align:center;
            margin:50px auto;
            width:40%;
            border:2px solid #008B8B;
            padding:10px 10px 20px 10px;
        }  
            .ui-state-active{
            border:1px solid #008B8B !important;
            background:#008B8B !important;
        }
        .ui-icon-background, .ui-state-active .ui-icon-background{
            border:#26dcdc;
        } --}}

    </style>

</head>

<body class="text-center">
    <h1>Hi User</h1>
    <main class="container justify-content-center">
        {{> checkboxes}}
        <button class="btn btn-lg btn-block mt-3 mb-3 button" id="apply" type="submit" name="btn-login">apply
            filter</button>
        <button class="btn btn-lg btn-block mt-3 mb-3 button" id="reset" type="submit" name="btn-login">reset
            filter</button>
        <button class="btn btn-lg btn-block mt-3 mb-3 button" id="showall" type="submit" name="btn-login">show all
            places
        </button>
        <div id="places" class="row"></div>
    </main>

    <script src="/jquery-3.5.1.min.js"></script>
    <script src="userHome.js"></script>
</body>

</html>