<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/addPlace.css">
    <title>Add Place</title>

</head>

<body class="text-center">
  <form class="form mx-auto p-3" method="post" action="" autocomplete="off">
    <h2 class="text-info mb-3 font-weight-bold">Add New Place</h2>
    <div class="row g-3">
      <div class="col-12">
        <input type="text" aria-label="Name of the place" class="form-control mb-3" placeholder="Name of the place">
    </div>
      <div class="col-md-10">
        <input type="text" aria-label="Street name" class="form-control mb-3 col" placeholder="Street name">
      </div>
      <div class="col-md-2">
        <input type="number" aria-label="Number" class="form-control mb-3" placeholder="Number">
      </div>
      <div class="col-md-4">
        <input type="number" aria-label="Postcode" class="form-control mb-3" placeholder="Postcode">
      </div>
      <div class="col-md-6">
        <input type="text" aria-label="City" class="form-control mb-3" placeholder="City">
      </div>
</div>

    <div class="mb-3">
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
  <label class="form-check-label" for="inlineCheckbox1">Friends</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
  <label class="form-check-label" for="inlineCheckbox2">Meeting</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
  <label class="form-check-label" for="inlineCheckbox2">Business</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
  <label class="form-check-label" for="inlineCheckbox2">Date</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
  <label class="form-check-label" for="inlineCheckbox2">Family/Kids</label>
</div>
</div>

<div id="eatdrink">
<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" id="eat">
  <label class="form-check-label" for="flexSwitchCheckDefault">eat</label>
</div>
<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" id="drink">
  <label class="form-check-label" for="flexSwitchCheckDefault">drink</label>
</div>
</div>


<div id="timeoftheday">
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="breakfast" value="option1">
    <label class="form-check-label" for="inlineCheckbox1">breakfast</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="brunch" value="option2">
    <label class="form-check-label" for="inlineCheckbox2">brunch</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="lunch" value="option2">
    <label class="form-check-label" for="inlineCheckbox2">lunch</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="dinner" value="option2">
    <label class="form-check-label" for="inlineCheckbox2">dinner</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="latesnack" value="option2">
    <label class="form-check-label" for="inlineCheckbox2">late snack</label>
  </div>
  </div>


    <div id="cuisine">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
      <label class="form-check-label" for="inlineCheckbox1">around here</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
      <label class="form-check-label" for="inlineCheckbox2">from the sea</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
      <label class="form-check-label" for="inlineCheckbox2">fire&land</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
      <label class="form-check-label" for="inlineCheckbox2">bites</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
      <label class="form-check-label" for="inlineCheckbox2">bistro francais</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
      <label class="form-check-label" for="inlineCheckbox2">cucina italiana</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
      <label class="form-check-label" for="inlineCheckbox2">far away asia</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
      <label class="form-check-label" for="inlineCheckbox2">plant-based</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
      <label class="form-check-label" for="inlineCheckbox2">street-food</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
      <label class="form-check-label" for="inlineCheckbox2">hummus&co</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
      <label class="form-check-label" for="inlineCheckbox2">fusion</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="sweettooth" value="option2">
      <label class="form-check-label" for="inlineCheckbox2">sweet tooth</label>
    </div>
    </div>


    <div id="sweet">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="patisserie">
      <label class="form-check-label" for="patisserie">pâtisserie</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="bakery">
      <label class="form-check-label" for="bakery">bakery</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="gelateria">
      <label class="form-check-label" for="gelateria">gelateria</label>
    </div>
  </div>

  <div id="bars">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="wine">
      <label class="form-check-label" for="wine">wine</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="cocktail">
      <label class="form-check-label" for="cocktail">cocktail</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="beer">
      <label class="form-check-label" for="beer">beer</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="coffee">
      <label class="form-check-label" for="coffee">coffee</label>
    </div>
  </div>

  <div class="btn-toolbar" role="toolbar">
<div role="group" class="btn-group mb-3">
    <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off">
    <label class="btn btn-secondary" for="option1">high-end</label>
    <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off">
    <label class="btn btn-secondary" for="option2">easy-going</label>
    <input type="radio" class="btn-check" name="options" id="option3" autocomplete="off">
    <label class="btn btn-secondary" for="option3">something in between</label><br>
</div>
</div>

<div class="btn-toolbar" role="toolbar">
<div role="group" class="btn-group mb-3">
    <input type="radio" class="btn-check" name="options" id="option11" autocomplete="off">
    <label class="btn btn-secondary" for="option11">$</label>
    <input type="radio" class="btn-check" name="options" id="option22" autocomplete="off">
    <label class="btn btn-secondary" for="option22">$$</label>
    <input type="radio" class="btn-check" name="options" id="option33" autocomplete="off">
    <label class="btn btn-secondary" for="option33">$$$</label>
</div>
</div>

</form>

    <script src="../public/jquery-3.5.1.min.js"></script>
    <script src="../public/addPlace.js"></script>
</body>

</html>