<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Admin</title>
    <style>
        .placeName {
            color:#46082f;
        }

        .website {
            color:#46082f;
            word-wrap: break-word;
        }
        .address {
            color: #46082f;
        }
        .btn {
            color: #e4b370;
        }

        #addPlace {
            background-color: #46082f;
            color: #e4b370;
        }

        body {
            background-color: #ebdfce;
        }

        h1 {
            color: #46082f;

        }
        #logout {
            background-color: #46082f;
            color: #e4b370;
        }
    </style>

</head>

<body class="text-center">
    <a href="#" style="position:fixed; top:10px; right:10px;" class="btn btn-lg btn-block mt-3 mb-3" id="logout">Logout</a>
    <h1 id="greeting">Hi <span id="nameUser"></span></h1>
    <button class="btn btn-lg btn-block mt-3 mb-3" id="addPlace" type="submit" name="btn-login">add place</button>
    <main class="container justify-content-center">
        <div id="places" class="row"></div>
    </main>

    <script src="jquery-3.5.1.min.js"></script>
    <script src="adminHome.js"></script>
</body>

</html>