<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<link rel="stylesheet" href="login.css">
	<title>Login</title>

</head>

<body class="text-center">
	<form class="form mx-auto " method="post" action="" autocomplete="off">
		<img src="logo/letSeat.png" height="200" width="200">
		
		<h2 class="mb-3 font-weight-bold">Log In</h2>

		<input class="form-control my-1" type="email" id="email" name="email" class="form-control" placeholder="Your Email"
			value="" maxlength="40" />
			<div class="invalid-feedback">Please provide a valid e-mail.</div>

		<input class="form-control my-1" type="password" id="pass" name="pass" class="form-control" placeholder="Your Password"
			maxlength="15" />
			<div class="invalid-feedback">The password should have at least 6 characters.</div>

        <div class="d-grid">
			<button class="btn btn-lg btn-block mt-3 mb-3" id="login" type="submit"
				name="btn-login">Login</button>
			<a class="text-muted" href="register">Register Here</a>
		</div>

	</form>


	<script src="jquery-3.5.1.min.js"></script>
	<script src="login.js"></script>
</body>

</html>