<fieldset>
    <legend>what´s the occasion?</legend>
    <div class="controlgroup">
        <input class="form-check-input inline" type="checkbox" id="friends" value="friends">
        <label class="form-check-label" for="friends">friends</label>
        <input class="form-check-input inline" type="checkbox" id="business" value="business">
        <label class="form-check-label" for="business">business</label>
        <input class="form-check-input inline" type="checkbox" id="date" value="date">
        <label class="form-check-label" for="date">date</label>
        <input class="form-check-input inline" type="checkbox" id="family" value="family">
        <label class="form-check-label" for="family">family/kids</label>
    </div>
</fieldset>
<fieldset>
    <legend>choose the time of the day</legend>
    <div class="controlgroup">
        <input class="form-check-input inline" type="checkbox" id="breakfast" value="breakfast">
        <label class="form-check-label" for="breakfast">breakfast</label>
        <input class="form-check-input" type="checkbox" id="brunch" value="brunch">
        <label class="form-check-label" for="brunch">brunch</label>
        <input class="form-check-input" type="checkbox" id="lunch" value="lunch">
        <label class="form-check-label" for="lunch">lunch</label>
        <input class="form-check-input" type="checkbox" id="dinner" value="dinner">
        <label class="form-check-label" for="dinner">dinner</label>
        <input class="form-check-input" type="checkbox" id="latesnack" value="latesnack">
        <label class="form-check-label" for="latesnack">late snack</label>
    </div>
</fieldset>
<fieldset>
    <legend>a list of cuisines</legend>
    <div class="controlgroup">
        <input class="form-check-input" type="checkbox" id="aroundhere" value="aroundhere">
        <label class="form-check-label" for="aroundhere">around here</label>
        <input class="form-check-input" type="checkbox" id="fromthesea" value="fromthesea">
        <label class="form-check-label" for="fromthesea">from the sea</label>
        <input class="form-check-input" type="checkbox" id="fireland" value="fireland">
        <label class="form-check-label" for="fireland">fireland</label>
        <input class="form-check-input" type="checkbox" id="bites" value="bites">
        <label class="form-check-label" for="bites">bites</label>
        <input class="form-check-input" type="checkbox" id="bistrofrancais" value="bistrofrancais">
        <label class="form-check-label" for="bistrofrancais">bistro francais</label>
        <input class="form-check-input" type="checkbox" id="cucinaitaliana" value="cucinaitaliana">
        <label class="form-check-label" for="cucinaitaliana">cucina italiana</label>
        <input class="form-check-input" type="checkbox" id="farawayasia" value="farawayasia">
        <label class="form-check-label" for="farawayasia">faraway asia</label>
        <input class="form-check-input" type="checkbox" id="plantbased" value="plantbased">
        <label class="form-check-label" for="plantbased">plant-based</label>
        <input class="form-check-input" type="checkbox" id="streetfood" value="streetfood">
        <label class="form-check-label" for="streetfood">street-food</label>
        <input class="form-check-input" type="checkbox" id="hummus" value="hummus">
        <label class="form-check-label" for="hummus">hummus and co</label>
        <input class="form-check-input" type="checkbox" id="fusion" value="fusion">
        <label class="form-check-label" for="fusion">fusion</label>
    </div>
</fieldset>
<fieldset>
    <legend>coffee and cakes</legend>
    <div class="controlgroup">
        <input class="form-check-input" type="checkbox" id="patisserie">
        <label class="form-check-label" for="patisserie">pâtisserie</label>
        <input class="form-check-input" type="checkbox" id="bakery">
        <label class="form-check-label" for="bakery">bakery</label>
        <input class="form-check-input" type="checkbox" id="gelateria">
        <label class="form-check-label" for="gelateria">gelateria</label>
        <input class="form-check-input" type="checkbox" id="coffee">
        <label class="form-check-label" for="coffee">coffee</label>
    </div>
</fieldset>
<fieldset>
    <legend>bars and more</legend>
    <div class="controlgroup">
        <input class="form-check-input" type="checkbox" id="wine">
        <label class="form-check-label" for="wine">wine</label>
        <input class="form-check-input" type="checkbox" id="cocktail">
        <label class="form-check-label" for="cocktail">cocktail</label>
        <input class="form-check-input" type="checkbox" id="beer">
        <label class="form-check-label" for="beer">beer</label>
    </div>
</fieldset>
<fieldset>
    <legend>overdressed or underdressed?</legend>
    <div class="controlgroup">
        <input class="form-check-input" type="checkbox" id="highend">
        <label class="form-check-label" for="highend">high-end</label>
        <input class="form-check-input" type="checkbox" id="easygoing">
        <label class="form-check-label" for="easygoing">easy-going</label>
        <input class="form-check-input" type="checkbox" id="between">
        <label class="form-check-label" for="between">smth in between</label>
    </div>
</fieldset>
<fieldset>
    <legend>price range</legend>
    <div class="controlgroup">
        <input class="form-check-input" type="checkbox" id="dollar">
        <label class="form-check-label" for="dollar">$</label>
        <input class="form-check-input" type="checkbox" id="ddollar">
        <label class="form-check-label" for="ddollar">$$</label>
        <input class="form-check-input" type="checkbox" id="dddollar">
        <label class="form-check-label" for="dddollar">$$$</label>
    </div>
</fieldset>