<div class="mb-3">
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="friends" value="friends">
        <label class="form-check-label" for="friends">Friends</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="meeting" value="meeting">
        <label class="form-check-label" for="meeting">Meeting</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="business" value="business">
        <label class="form-check-label" for="business">Business</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="date" value="date">
        <label class="form-check-label" for="date">Date</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="family" value="family">
        <label class="form-check-label" for="family">Family/Kids</label>
    </div>
</div>
<div id="timeoftheday">
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="breakfast" value="breakfast">
        <label class="form-check-label" for="breakfast">breakfast</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="brunch" value="brunch">
        <label class="form-check-label" for="brunch">brunch</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="lunch" value="lunch">
        <label class="form-check-label" for="lunch">lunch</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="dinner" value="dinner">
        <label class="form-check-label" for="dinner">dinner</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="latesnack" value="latesnack">
        <label class="form-check-label" for="latesnack">late snack</label>
    </div>
</div>
<br>

<div id="cuisine">
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="aroundhere" value="aroundhere">
        <label class="form-check-label" for="aroundhere">around here</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="fromthesea" value="fromthesea">
        <label class="form-check-label" for="fromthesea">from the sea</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="fireland" value="fireland">
        <label class="form-check-label" for="fireland">fireland</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="bites" value="bites">
        <label class="form-check-label" for="bites">bites</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="bistrofrancais" value="bistrofrancais">
        <label class="form-check-label" for="bistrofrancais">bistro francais</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="cucinaitaliana" value="cucinaitaliana">
        <label class="form-check-label" for="cucinaitaliana">cucina italiana</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="farawayasia" value="farawayasia">
        <label class="form-check-label" for="farawayasia">far away asia</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="plantbased" value="plantbased">
        <label class="form-check-label" for="plantbased">plant-based</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="streetfood" value="streetfood">
        <label class="form-check-label" for="streetfood">street-food</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="hummus" value="hummus">
        <label class="form-check-label" for="hummus">hummus&co</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="fusion" value="fusion">
        <label class="form-check-label" for="fusion">fusion</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="sweettooth" value="sweettooth">
        <label class="form-check-label" for="sweettooth">sweet tooth</label>
    </div>
</div>
<br>

<div id="sweet">
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="patisserie">
        <label class="form-check-label" for="patisserie">pâtisserie</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="bakery">
        <label class="form-check-label" for="bakery">bakery</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="gelateria">
        <label class="form-check-label" for="gelateria">gelateria</label>
    </div>
</div>
<br>
<div id="bars">
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="wine">
        <label class="form-check-label" for="wine">wine</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="cocktail">
        <label class="form-check-label" for="cocktail">cocktail</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="beer">
        <label class="form-check-label" for="beer">beer</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="coffee">
        <label class="form-check-label" for="coffee">coffee</label>
    </div>
</div>
<br>
<div id="stil">
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="highend">
        <label class="form-check-label" for="highend">high-end</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="easygoing">
        <label class="form-check-label" for="easygoing">easy-going</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="between">
        <label class="form-check-label" for="between">smth in between</label>
    </div>
</div>
<br>
<div id="price">
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="dollar">
        <label class="form-check-label" for="dollar">$</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="ddollar">
        <label class="form-check-label" for="ddollar">$$</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="dddollar">
        <label class="form-check-label" for="dddollar">$$$</label>
    </div>
</div>